$icons: (
    placeholder:          '\ea01',
    eye:                  '\ea02',
    eye-close:            '\ea03',
    calendar:             '\ea04',
    archive:              '\ea05',
    bank:                 '\ea06',
    chevron-left:         '\ea07',
    chevron-right:        '\ea08',
    orders:               '\ea09',
    double-chevron-left:  '\ea0A',
    double-chevron-right: '\ea0B',
    chevron-down:         '\ea0C',
    check:                '\ea0D',
    close:                '\ea0E',
    minus:                '\ea0F',
    search:               '\ea10',
    exit:                 '\ea11',
    filter:                '\ea12',
    sorting:              '\ea13',
    sorting-reverse:      '\ea14',
    filter-fill:            '\ea15',
    time-fill:             '\ea16',
    warning-fill:          '\ea17',
    check-fill:            '\ea18',
    close-fill:            '\ea19',
    plus:                 '\ea1A',
    warning:              '\ea1B',
    menu:                 '\ea1C',
    question-fill:         '\ea1D',
    copy:                 '\ea1E',
    time:                 '\ea1F',
    save:                 '\ea20',
    trash:                '\ea21',
    update:               '\ea22',
);
