$radiusButton: toRem(8);
$radiusCard: toRem(12);

$containerMaxWidth: toRem(960);

$containerPaddingMobile: 5%;
$containerPaddingTablet: 6.769%;
$containerPaddingTabletLate: 5.729%;
$containerPaddingDesktop: toRem(140);

$zIndexSidebar: 10;
$zIndexModal: 11;
$zIndexToast: 100;
$zIndexContextMenu: 100;

$sidebarWidthS: toRem(240);
$sidebarWidthM: toRem(240);
$sidebarHeadHeight: toRem(56);
